{% extends "extend.html" %}

{% block content %}
<div class="reviews-wrapper">
    <h1>My Reviews</h1>
    <div class="review-container">
        <div class="review-details">
            <strong>Lily Waters</strong><br>
            March 20, 2024<br>
            Great service x.<br>
            <span class="review-stars">★★★★☆</span>
        </div>
    </div>
    <div class="review-container">
        <div class="review-details">
            <strong>John Doe</strong><br>
            April 10, 2024<br>
            Quick response, very professional.<br>
            <span class="review-stars">★★★★★</span>
        </div>
    </div>
    <div class="review-container">
        <div class="review-details">
            <strong>Mia Wall</strong><br>
            April 30, 2024<br>
            loved my makeup xxx<br>
            <span class="review-stars">★★★★★</span>
        </div>
    </div>
    <!-- Add more review containers as needed -->
</div>
{% endblock %}
